.profile__avatar {
    margin: 0 auto 26px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 120px;
    position: relative;
    width: 120px;
    border-radius: 50%;
    height: 120px;
    margin: 0;
    min-width: 120px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    
}

@media (min-width: 768px) {
    .profile__avatar {
        margin: 0;
    }
}