.profile__description {
    margin: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .profile__description {
        font-size: 18px;
        line-height: 22px;
    }
}